/* Defaults */
/* Defaults */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: regular;
}

@font-face {
    font-family: regular;
    src: url(/fonts/Roboto-Medium.ttf);
}

/* Defaults End */

/* Header */
/* Navbar */

/* .logo-img-div{
    width: 50px!important;
    height: 50px!important;
} */

.li-item {
    margin-left: 20px;
    margin-right: 20px;
}
.li-item a {
    font-family: regular;
}



/* Navbar End */
/* Header End */